body{background-color: rgb(235, 235, 235)}

#screen {
    border: 2px solid black;
    width: 1280px;
    height: 720px;
    display: flex;
    position: relative;
    align-items: center;
    margin: 0 auto;
    border-radius: 5%;
    background-color: rgb(194, 194, 194);
}

#properscreen {
    position: relative;
    border-radius: 5%;
}

img{border-radius: 5%;
    border: 2px solid black;
    border-radius: 5%;
}

.prev,
.next {
    z-index: 400;
    cursor: pointer;
    position: absolute;
    margin-left: 2px;
}

a{
    font-size: 30px;
    color: white;
    text-decoration: none;
    font-weight: bolder;
    width: 25px;
    height: 40px;
    text-align: center;
    transition: 0.5s;
    border-radius: 10%;
    padding-top: 7px;
}

a:hover{
    background-color: rgba(128, 128, 128, 0.664);
}
.next {
    margin-left: 1256px;
}

#dots{display: flex;
justify-content: space-around;
width: 15%;
margin: auto;}

#dot1, #dot2, #dot3, #dot4, #dot5{
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 100%;
} 