#screen {
    border: 2px solid black;
    width: 1280px;
    height: 720px;
    display: flex;
    position: relative;
    align-items: center;
    margin: 0 auto;
}

#properscreen {
    position: relative;
}

.prev,
.next {
    z-index: 400;
    cursor: pointer;
    position: absolute;
    margin-left: 2px;
}

a{
    font-size: 30px;
    color: white;
    text-decoration: none;
    font-weight: bolder;
    width: 20px;
    height: 32px;
    text-align: center;
    transition: 0.5s;
    border-radius: 10%;
}
a:hover{
    background-color: rgba(170, 170, 170, 0.664);
}
.next {
    margin-left: 1257px;
}

