#screen {
    border: 2px solid black;
    width: 1280px;
    height: 720px;
    display: flex;
    position: relative;
    align-items: center;
}

#properscreen {
    position: relative;
}

.prev,
.next {
    width: 27px;
    height: 30px;
    font-size: 20px;
    z-index: 400;
    cursor: pointer;
    position: absolute;
    margin-left: 2px;
}

.next {
    margin-left: 1250px;
}
